h1 {
  font-family: 'Arsenale White', courant;
  font-size: 64px;
  color: #514D51;
}

h2 {
font-family: "Amatic SC", courant;
font-size: 20px;
text-decoration: none;
}

h3 {
font-family: "Amatic SC", courant;
font-size: 30px;
text-decoration: none;
text-decoration: none;
}

p {
  font-family: 'Amatic SC' , courant ;
font-weight: 300;
}
